.container{
    display: flex;
    max-width: 1400px;
    margin: auto;
}
.right-side {
    width: 80%;
}
.left-side{
    width: 20%;
}
.main-heading {
    text-align: center;
}
/* Container styling */
.choose_file-container {
  margin-bottom:20px ;
  }
  
  /* Custom label styled as a button */
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  /* Hide the actual file input */
  input[type="file"] {
    display: none;
  }
  .active{
    background-color: aliceblue;
  }