/* Main container css */

.container{
  max-width: 1400px;
  margin: auto;
}


.frame-container{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 4fr 1fr;
}


  .main-heading {
    text-align: center;
  }

  .choose_file-container {
    margin-bottom:20px ;
    text-align: center;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  

  .choose_file-container input[type="file"] {
    display: none;
  }
  .active{
    background-color: aliceblue;
  }

ul {
  list-style-type: none; 
  padding-left: 0;
}

li {
  margin-left: 0; 
}
.flip-context-menu.context-menu ul li {
  padding: 10px;
  cursor: pointer;
}